.DS_Store

.env

config/etc/nginx/default.conf
config/etc/ssl
*.config.php

data/db/mysql
data/db/dumps/db.sql
data/db/dumps/tests_db.sql

logs/

setup/

Grammar.php

web/backend/composer.lock
web/backend/vendor

web/frontend/.sass-cache
web/frontend/node_modules

web/public/javascript
web/public/stylesheets
