
config/etc/nginx/default.conf
config/etc/ssl
*.config.php

data/db/mysql

logs/

setup/

web/backend/app/WikitextConversion/Grammar.php
web/backend/vendor

web/frontend/.sass-cache
web/frontend/node_modules

web/public/javascript
web/public/stylesheets
