._*
.swp
vendor
Slim 2
*.sh
logs
TODO.txt
*.config.php
composer.lock
other
View/node_modules
View/build
.buildpath
.project
.settings
*.bundle*
Database\ Backups
*.scssc
public/stylesheets
public/javascript
public/images
