			<div id="footerWrapper">
				<footer>

					<ul>
						<li><a id="footerLink" href="About">About</a></li>
						<li><a id="footerLink" href="Contact">Contact</a></li>
						<li><a id="footerLink" href="Bugs">Known Bugs</a></li>
					</ul>
				</footer>
			</div>