{% extends 'defaultEmail.twig' %}

{% block content %}
	<p>
		You have registered!
	</p>

	<p>
		Activate your account using this link: {{ baseUrl }}{{ url_for('activate-account') }}?email={{ email }}&identifier={{ identifier | url_encode }}
	</p>
{% endblock %}
