{% extends 'templates/app.twig' %}

{% block content %}
						<div class='row'>
							<div class='col-md-6 offset-md-3'>
								<div class="card">
									<div class="card-header">
										Password Recovery
									</div>
									<div class="card-body">
										<form action='{{ path_for("auth.password.recovery") }}' method='post' autocomplete='off'>

											<div class='form-group{{ errors.email ? " has-error" : "" }}'>
												<label for='email'>Email</label>
												<input type='text' name='email' id='email' placeholder='you@domain.com' class='form-control' value='{{ old.email }}'>
{% if errors.email %}
												<span class='help-block'>
{% if errors.email == "CharsetException" %}
													Please use only ASCII-compatible characters.
{% elseif errors.email == "NotEmptyException" %}
													Enter your email address
{% elseif errors.email == "EmailException" %}
													Please enter a valid email address
{% elseif errors.email == "EmailInUseException" %}
													This email account does not have an account
{% endif %}
												</span>
{% endif %}
											</div>

											<button type='submit' class='btn btn-default'>Send Recovery Email</button>

											{{ csrf.field | raw }}
										</form>
									</div>
								</div>
							</div>
						</div>
{% endblock %}