{% extends 'email/templates/default.php' %}

{% block content %}
	<p>This is an email sent in response to a password recovery email request.</p>

	<p>If you requested this email, you can set your password using the following link: {{ baseUrl }}{{ path_for('auth.password.reset') }}?email={{ user.email }}&identifier={{ identifier | url_encode }}</p>

	<p>
		If you did not request this email, you can ignore this email.
		However, it is indicative of somebody attempting to sign into your account, so you should ensure that your passwords for your email and website accounts are secure and sufficiently complex.
	</p>
{% endblock %}