<!doctype html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<title>Administration Panel</title>
		<base target="_self">

		<script type="text/javascript">
			const webpageBaseData = {
				authenticationData: {{ ( authenticationData | json_encode | raw ) }},
				flash: {{ ( flash | json_encode | raw ) }}
			}
		</script>

		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/stylesheets/base.index.css" />
		<style> body { background: #bbb url("http://localhost:8080/images/background.jpg") fixed; background-size: cover; } </style>

		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/stylesheets/administration.index.css" />
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root"></div>
		<script type="text/javascript" src="/javascript/administration.bundle.js" ></script>
	</body>
</html>
