@import '../core/navigation-bar.scss';

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
}

#pageWrapper {
}

main {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	z-index: 0;
	line-height: 1.4;
}

#contentWrapper {
	min-height: 100vh;
}

#content {
	padding-top: 4.2rem; /* 42 = 14 + 14 + 14 (navbar a links) */;
	padding-bottom: 5.0rem;
}

#mainPanelWrapper {
}

#mainPanel {
	/* In case the width of the screen is <= 86.0rem, max-width and left-right padding is used. */
	max-width: 120.0rem;
	padding-right: 3.0rem; 
	padding-left: 3.0rem;
	margin: 0 auto; /* Centres: Automatic margin left-right, no margin up-down. */
	padding-top: 3.0rem;
	padding-bottom: 2.0rem;
}
