@import '../core/navigation-bar.scss';

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14rem;
}

#pageWrapper {
}

main {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11pt;
	z-index: 0;
	line-height: 1.4;
}

#contentWrapper {
	min-height: 100vh;
}

#content {
	padding-top: 42rem; /* 42 = 14 + 14 + 14 (navbar a links) */;
	padding-bottom: 50rem;
}

#mainPanelWrapper {
}

#mainPanel {
	/* In case the width of the screen is <= 860rem, max-width and left-right padding is used. */
	max-width: 1200rem;
	padding-right: 30rem; 
	padding-left: 30rem;
	margin: 0 auto; /* Centres: Automatic margin left-right, no margin up-down. */
	padding-top: 30rem;
	padding-bottom: 20rem;
}
