@import '../core/navigation-bar.scss';

main {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	line-height: 1.4;
	min-height: 100vh;

	#formWrapper {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #FFF;
		z-index: 1000;

		border-radius: .5rem;
		-moz-border-radius: .5rem;
		-webkit-border-radius: .5rem;

		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.5rem;
		line-height: 1.4;
	}
}
