@import '../core/navigation-bar.scss';
@import '../core/footer.scss';
@import '../fonts/adamina.scss';
@import '../wiki/table-of-contents.scss';

#pageWrapper {
	main {
		font-family: Adamina,Georgia,Cambria,"Times New Roman",Times,serif;
		font-size: 12pt;
		color: black;
		z-index: 0;
		line-height: 1.4;

		#contentWrapper {
			min-height: 100vh;

			#content {
				padding-top: 42px; /* 42 = 14 + 14 + 14 (navbar a links) */;
				padding-bottom: 50px;

				#mainPanelWrapper {
					padding-top: 30px;

					// mainPanel below
				}
			}
		}
	}
}

#mainPanelWrapper {
	#mainPanel {
		/* In case the width of the screen is <= 860px, max-width and left-right padding is used. */
		max-width: 800px;
		padding-right: 45px; 
		padding-left: 45px;
		margin: 0 auto; /* Centres: Automatic margin left-right, no margin up-down. */
		padding-top: 20px;
		padding-bottom: 20px;

		border:1px solid black;
		background: #f8f1eb;

		a:link, a:visited, a:hover, a:active {
			color: #000090;
			background-color: transparent;
			text-decoration: none;
		}

		/* For ToC */
		a.anchor {
			color: black;
			background-color: transparent;
			text-decoration: none;
		}

		/* For ToC */
		a.anchor:before {
			content: '';
			display: block;
			position: relative;
			width: 0;
			height: 30px;
			margin-top: -30px;
		}

		h1, h2, h3, h4, h5, h6
		{
			display: block;
			margin-left: 0;
			margin-right: 0;
			font-weight: bold;
		}

		h1 {
			font-size: 2em;
			margin-top: 0.67em;
			margin-bottom: 0.67em;
		}

		h2 {
			font-size: 1.5em;
			margin-top: 0.83em;
			margin-bottom: 0.83em;
		}

		h3 {
			font-size: 1.17em;
			margin-top: 1em;
			margin-bottom: 1em;
		}

		h4 {
			font-size: 1em;
			margin-top: 1.33em;
			margin-bottom: 1.33em;
		}

		h5 {
			font-size: 0.83em;
			margin-top: 1.67em;
			margin-bottom: 1.67em;
		}

		h6 {
			font-size: 0.67em;
			margin-top: 2.33em;
			margin-bottom: 2.33em;
		}

		p {
			display: block;
			margin-top: 1em;
			margin-bottom: 1em;
			margin-left: 0;
			margin-right: 0;
		}

		ul {
			display: block;
			list-style-type: square;
			margin-top: 1em;
			margin-bottom: 1em;
			margin-left: 0;
			margin-right: 0;
			padding-left: 40px;
		}

		li {
			display: list-item;
		}

		q {
			font-style: italic;
			display: inline;
		}

		.thinquote, .quote, .widequote {
			margin-top: 1em;
			margin-bottom: 1em;
			margin: 0 auto;
		}

		.thinquote {
			width: 40%;
		}

		.quote {
			width: 60%;
		}

		.widequote {
			width: 80%;
		}

		blockquote {
			display: block;
			font-style: italic;
			color: #303030;
		}

		.quoteref {
			display: block;
			padding-right: 30px;
			text-align: right;
			font-size: 13px;
			font-style: italic;
			color: #84775c;
		}

		/* == Forms == */

		.form-group {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.form-label {
			text-decoration: underline;
			margin-top: 3px;
			margin-bottom: 3px;
		}

		.form-control {
			display: block;
			margin-top: 3px;
			margin-bottom: 3px;
		}

		form textarea {
			width: 700px;
			max-width: 700px;
			height: 400px;
			max-height: 1000px;
		}

		.form-submit {
			display: block;
			margin-top: 3px;
			margin-bottom: 3px;
		}

		div > .image {
			text-align: center;
			max-width: 100%;
			display: block;

		}
	}
}
