body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: rgb(51, 51, 51);
	background-color: rgb(255, 255, 255);
}

input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.form-control {
	display: block;
	width: 500px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: rgb(85, 85, 85);
	background-color: rgb(255, 255, 255);
	background-image: none;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control:focus {
	border-color: rgb(102, 175, 233);
	outline: 0px;
	box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px;
}