
							</div> <!-- mainPanelWrapper -->
						</div> <!-- mainPanel -->
					</div> <!-- #content -->
				</div> <!-- #contentWrapper -->
			</main> <!-- main -->

			<div id="footerWrapper">
				<footer>
					<ul>
						<li><a id="footerLink" href="About">About</a></li>
						<li><a id="footerLink" href="Contact">Contact</a></li>
						<li><a id="footerLink" href="Bugs">Known Bugs</a></li>
					</ul>
				</footer>
			</div>
<!--
			<div id="sideBar">
				SideBar Content Here
			</div>
-->
		</div> <!-- #pageWrapper -->

		<script>
			window.onload = function()
			{
				createTableOfContents();
			}
		</script>
	</body>
</html>