.card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-wrap: break-word;
	background-color: rgb(255, 255, 255);
	background-clip: border-box;
	border: .1rem solid rgba(0, 0, 0, 0.4);
	border-radius: 0.4rem;

	.card-header {
		padding: 1.2rem 2.0rem;
		margin-bottom: 0;
		background-color: rgba(0, 0, 0, 0.03);
		border-bottom: .1rem solid rgba(0, 0, 0, 0.125);
		font-size: 120%;
		text-align: center;
	}

	.card-header:first-child {
		border-radius: calc(0.4rem - 1.6rem) calc(0.4rem - 1.6rem) 0rem 0rem;
	}

	.card-body {
		flex: 1 1 auto;
		padding: 0 2.0rem 0 2.0rem;
	}
}
