
html {
	overflow: scroll;
	overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
	display: none;

}

/* Hide scrollbar for IE, Edge and Firefox */
html {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

}


#mainPanel a:link {
	color: #0000b3;
	background-color: transparent;
	text-decoration: none;
}

#mainPanel a:visited {
	color: #0000b3;
	background-color: transparent;
	text-decoration: none;
}

#mainPanel a:hover {
	color: #0000b3;
	background-color: transparent;
	text-decoration: underline;
}

#mainPanel a:active {
	color: #0000b3;
	background-color: transparent;
	text-decoration: underline;
}

