footer {
	display: block;
	z-index: 1;
	padding: 0;
	margin: -30rem 0 0 0;
	height: 30rem;
	width: 100vw;

	background-color: #111;
	opacity: 0.9;
	border: 0rem solid #555;
}

#footer-content {
	opacity: 1.0;
	display: flex;
	justify-content: center;
	padding-top: 9rem;
}

.footer-item {
	display: inline;

	font-family: Helvetica, sans-serif;
	color: #979AA4;
	font-size: 12rem;
	font-weight: 300;

	&:not(:first-child):before {
		content: "|";
		margin: 0rem 15rem;
	}
}

.footer-link {
	font-family: Helvetica, sans-serif;
	color: #979AA4;
	font-size: 12rem;
	font-weight: 500;

	&:not(:first-child):before {
		content: "\00B7";
		margin: 0rem 5rem;
	}
}
