.form {
	.form-group {
		position: relative;
		margin-top: 15px;
		margin-bottom: 15px;

		.form-label {
			display: block;
			margin-bottom: 5px;

			font-weight: normal;
		}

		.form-input {
			.form-textarea {
				display: inline-block;
			}
		}

		.form-error {
			display: block;
			margin-top: 5px;
			font-size: 80%;
			color: #c40000;
			word-break: break-word;
		}
	}

	.form-submit {
		display: block;
		font-weight: 400;
		color: rgb(33, 37, 41);
		text-align: center;
		user-select: none;
		background-color: white;
		border: 1px solid #555555;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 0.25rem;
		transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

		border-radius: 0px;
		margin: 15px auto;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		overflow: visible;
		text-transform: none;
	}

	.form-submit:hover {
		color: rgb(33, 37, 41);
		text-decoration: none;

		border-color: rgb(102, 175, 233);
		outline: 0px;
		box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px;
	}

	.form-submit:focus {
		outline: -webkit-focus-ring-color auto 5px;
		outline: 0px;
		box-shadow: rgba(0, 123, 255, 0.25) 0px 0px 0px 0.2rem;
	}

	.form-submit:disabled {
		opacity: 0.65;
	}

	.form-submit:not(:disabled) {
		cursor: pointer;
	}

	.form-label-error {
		display: block;
		margin: 5px auto;

		font-weight: normal;
		color: #c40000;
	}
}


.form-input-wrapper {
	position: relative;
	margin-top: 8px;
	display: inline-block;
}

:focus {
	outline: none;
}

.form-input {
	font: 15px/24px "Lato", Arial, sans-serif;
	color: #333;
	width: 100%;
	box-sizing: border-box;
	letter-spacing: 1px;

	position: relative;
	z-index: 1;
	border: 1px solid #ccc;
	padding: 7px 14px;
	transition: 0.4s;
	background: transparent;
}

.form-input ~ .focus-border:before,
.form-input ~ .focus-border:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 2px;
	background-color: #3399FF;
	transition: 0.2s;
	transition-delay: 0.2s;
}

.form-input-has-error ~ .focus-border:before,
.form-input-has-error ~ .focus-border:after {
	background-color: #FF0000;
}

.form-input ~ .focus-border:after {
	top: auto;
	bottom: 0;
	right: auto;
	left: 0;
	transition-delay: 0.6s;
}

.form-input ~ .focus-border i:before,
.form-input ~ .focus-border i:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	background-color: #3399FF;
	transition: 0.2s;
}

.form-input-has-error ~ .focus-border i:before,
.form-input-has-error ~ .focus-border i:after {
	background-color: #FF0000;
}

.form-input ~ .focus-border i:after {
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
	transition-delay: 0.4s;
}

// -- Top and bottom sides --
.form-input:focus ~ .focus-border:before,
.form-input:focus ~ .focus-border:after,
.has-content.form-input ~ .focus-border:before,
.has-content.form-input ~ .focus-border:after,
.form-input-has-error ~ .focus-border:before,
.form-input-has-error ~ .focus-border:after {
	width: 100%;
	transition: 0.2s;
	transition-delay: 0.6s;
}

.form-input:focus ~ .focus-border:after,
.has-content.form-input ~ .focus-border:after,
.form-input-has-error ~ .focus-border:after {
	transition-delay: 0.2s;
}

// -- Left and right sides --
.form-input:focus ~ .focus-border i:before,
.form-input:focus ~ .focus-border i:after,
.has-content.form-input ~ .focus-border i:before,
.has-content.form-input ~ .focus-border i:after,
.form-input-has-error ~ .focus-border i::before,
.form-input-has-error ~ .focus-border i::after {
	height: 100%;
	transition: 0.2s;
}

.form-input:focus ~ .focus-border i:after,
.has-conten.form-input ~ .focus-border i:after,
.form-input-has-error ~ .focus-border i::after {
	transition-delay: 0.4s;
}

.form-input ~ label {
	position: absolute;
	left: 14px;
	width: 100%;
	top: 10px;
	color: #aaa;
	transition: 0.3s;
	letter-spacing: 0.5px;
}

.form-input:focus ~ label,
.has-content.form-input ~ label {
	top: -18px;
	left: 0;
	font-size: 12px;
	color: #1177DD;
	transition: 0.3s;
}

.form-input:required {
  box-shadow: none;
}

// .form-input-has-error {
// 	border-color: rgb(179, 27, 27); outline: 0px;
// 	box-shadow: rgba(179, 27, 27, 0.3) 0px 0px 3px;
// }
