#modal-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
	z-index: 1000;
}

#modal-pane {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFF;
	z-index: 1000;

	border-radius: .5rem;
	-moz-border-radius: .5rem;
	-webkit-border-radius: .5rem;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	line-height: 1.4;

	#modal-x-button {
		position: absolute;
		cursor: pointer;
		z-index: 1001;

		top: -1.0rem;
		right: -1.0rem;

		box-sizing: border-box;
		width: 2.0rem;
		height: 2.0rem;

		border-width: .3rem;
		border-style: solid;
		border-color: #605F61;
		border-radius: 100%;

		background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
		background-color: #605F61;
	}
}
