@import 'modal.scss';
@import 'card.scss';
@import 'form.scss';

@mixin transition($prop, $values...) {
	-moz-#{$prop}: $values;
	-ms-#{$prop}: $values;
	-o-#{$prop}: $values;
	-webkit-#{$prop}: $values;
	$prop: $values;
}

#navbarWrapper {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	z-index: 1;

	position: fixed;
	top: 0;
	padding: 0;
	margin: 0;
	width: 100vw;

	text-align: center;
	text-decoration: none;
	background-color: #111;
	opacity: 0.98;

	#navbar {
		display: block;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: 42px; /* 14 + 14 + 14 (navbar a) */
		opacity: 1.0;
		line-height: 1;

		#navbar-brand-wrapper {
			left: 0;
			bottom: 0;
			padding: 9px 16px 10px 16px;
			float: left;

			#navbar-brand {
				color: #888;
				font-size: 20px;

				&:hover, &:focus {
					// Highlight link on hover
					color: #CEE;
				}

				@include transition(transition, color 0.3s);
			}
		}

		#navbar-content-wrapper {
			float: left;
			width: 80%;
			right: 0;
			bottom: 0;
			display: block;

			/* navbar-content would be here */
		}
	}
}


/* == Navigation Bar Items List == */

.navbar-list, .navbar-list-right {
	list-style-type: none;

	@at-root .navbar-item {
		position: relative;
		float: left;
		margin-right: 1px;

		&:last-child {
			border-bottom: none;
		}

		> a {
			display: block;
			font-size: 14px;
			padding: 14px 16px 14px 16px;
			color: #888;
			font-size: 14px;
			text-decoration: none;

			&:hover, &:focus {
				// Highlight link on hover
				color: #CEE;
			}

			@include transition(transition, color 0.3s);
		}
	}
}

.navbar-list-right {
	float: right;
}


/* == Navigation Bar Search == */

.searchbar-wrapper {
	width: 220px;
	padding-top: 6px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;

	.searchbar {
		width: 100%;
		position: relative;
		display: flex;

		.searchbar-input {
			width: 100%;
			border: 1px solid #2d2d2d;
			border-right: none;
			padding-top: 8px;
			padding-bottom: 4px;
			padding-left: 8px;
			height: 17px;
			outline: none;
			color: #aaa;
			font-family: Helvetica, Arial, sans-serif;
			background: #121212;
			font-size: 14px;

			&:focus {
			}
		}

		.searchbar-button {
			width: 40px;
			height: 31px;
			border: 1px solid #2d2d2d;
			background: #2d2d2d;
			text-align: center;
			color: #666;
			border-radius: 0 2px 2px 0;
			cursor: pointer;
			font-size: 20px;
		}

		// .fa {
		// 	display: inline-block;
		// 	font: normal normal normal 14px/1 FontAwesome;
		// 	font-size: inherit;
		// 	text-rendering: auto;
		// 	-webkit-font-smoothing: antialiased;
		// 	-moz-osx-font-smoothing: grayscale
		// }

		// .fa-search:before {
		// 	content: "\f002"
		// }
	}
}


/* == Navigation Bar Dropdowns == */

.navbar-item {
	// Default dropdown-list style
	& .dropdown-list {
		position: absolute;
		list-style: none;
		white-space: nowrap;
		min-width: 100%;
		margin: 0;
		padding: 0;

		// Hide dropdown list by default
		left: -99999em;
	}

	// Base dropdown CSS
	& > .dropdown-list {
		// Add top border to distance dropdown from navbar
		border-top: 3px solid #111;

		// Take time to disappear
		transition: 0s 0.6s;
	}

	// Unhide base dropdown on navbar item hover
	&:hover > .dropdown-list {
		// Immediately appear
		transition-delay: 0s;
		// (Center)
		left: 50%;
		transform: translateX(-50%);
	}
}

.dropdown-list > .dropdown-item {
	position: relative;

	// Dropdown links
	> .dropdown-link {
		display: block;
		background: #111;
		color: #888;
		font-size: 14px;
		text-decoration: none;
		padding: .8em 1.8em .8em 1.8em;
		position: relative;
		border-bottom: 1px solid #221;

		&:hover, &:focus {
			// Highlight link on hover
			color: #CEE;
		}

		@include transition(transition, color 0.3s);
	}

	&:last-child > .dropdown-link {
		border-bottom: none;
	}

  // Highlight link on hover
	&:hover > .dropdown-link {
		color: #CEE;
	}

  // Unhide sub-menu (if any) on hover
	&:hover > .dropdown-list {
		// Immediately appear
		transition-delay: 0s;
		// (Appear to top right)
		left: 100%; // (This moves list from left: -99999em)
		top: 0px;
	}

	// Draw arrows for dropdown items with two children (i.e. first == 2nd last)
	// (and put it before the .dropdown-link)
	> .dropdown-link:first-child:nth-last-child(2):before {
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		top: 50%;
		margin-top: -5px;
		right: 5px;
		border: 5px solid transparent;
		border-left-color: #aaa;
	}

	// Reverse arrows and change their colour when hovering over their dropdown item
	&:hover > .dropdown-link:first-child:nth-last-child(2):before {
		border: 5px solid transparent;
		right: 10px;
		border-right-color: #cee;
	}

	// -- Sub-menus --
	// Add border spacing on left for sub-menus
	> .dropdown-list > .dropdown-item {

		// Transparent left border by default
		border-left: 3px solid transparent;

		// Normal colour for top item of sub-menu
		&:first-child {
			border-left: 3px solid #111;

			& > .dropdown-link {
				border-left: 3px solid #111;
			}
		}
	}
}


/* == Navigation Bar Text Hovers == */

.underline-right {
	// Positioning
	position: relative;
	display: inline;
	z-index: 2;

	// General link formatting
	white-space: nowrap;
	overflow: hidden;

	// Fade in/out transition
	&:after, &:before {
		@include transition(transition, all 0.3s ease 0s);
	}

	// Basic underline positioning
	&:after {
		position: absolute;
		z-index: -1;
		content: "";
		width: 3px;
		height: 3px;
		left: 0;
		bottom: 0;
	}

	// End goal of focus/hover
	&:focus:after, &:hover:after {
		width: 100%;
		background-color: #1B98E0;
	}
}

