<!doctype html>
<html lang="en-GB">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

		<title>Dungeons and Dragons Wiki</title>

		<script type="text/javascript">
			const globalsData = {
				preferredName: {{ ( preferredName | json_encode | raw ) }},
				isAuthenticated: {{ ( isAuthenticated | json_encode | raw ) }},
				csrfTokens: {{ ( csrfTokens | json_encode | raw ) }}
			};
		</script>

		<link rel="stylesheet" type="text/css" href="/stylesheets/base.index.css" />
		<style>
			body {
				background: #bbb url("/images/background.jpg") fixed;
				background-size: cover;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/stylesheets/wiki.index.css" />
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this web app.</noscript>
		<div id="root"></div>
		<div id="portal"></div>
		<script type="text/javascript" src="/javascript/wiki.bundle.js" ></script>
	</body>
</html>
